build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock
!pubspec.yaml

ios/Flutter/Flutter.podspec
ios/Flutter/Flutter.framework
ios/Flutter/GeneratedPluginRegistrant.*

android/app/debug
android/app/profile
android/app/release
android/.gradle
android/build
android/local.properties

.DS_Store
.idea/
*.iml
*.lock
*.mobileprovision
*.orig.*
*.pbxuser
*.perspectivev3
*.xcbkptlist
*.xcworkspace

coverage/
.coverage
.env
.env.local
*.iml
