.env
.env.local
.env.*.local
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
*.cover
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.pytype/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
venv/
env/
*.sqlite
*.db
.venv/
